.App {
  display: flex;
  height:100%;
  text-align: center;
}

/*Menu Style*/

.component-menu {
  background-color:#3e52b5;
  color: white;
  width: 200px;
  position: fixed;
  height:100vh;
}
.component-menu ul {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  padding-left: 0;
}
.menu-item { 
  cursor: pointer;
  padding: 10px 0;
 }
.menu-item-text { 
  pointer-events: none;
 }
.selected {
  border-top: 1px #384ba3 solid;
  background-color: #3c4fae;
  margin-top: -1px;
}

/*Body style*/

.component-content {
  background-color: #fafafa;
  height: 100%;
  margin-left: 200px;
  overflow: visible;
  padding: 10px 10px 0 10px;
  width: calc(100% - 200px);
}

/*Card style*/

.component-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #d3d3d3;
  margin-bottom: 20px;
  padding: 20px;
  width: calc(100% - 40px);
}
.component-card-header {
  margin: 0 0;
  text-align: left;
  width: 100%!important;
}
#component-card-info { 
    display: table; 
}
.component-card-info-row { 
    display: table-row; 
}
.component-card-info-cell { 
    display: table-cell; 
    padding-top: 10px;
    text-align: left;
}

.component-card-info-label {
  font-weight: bold;
  width: 80px;
} 
